<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  Hello, 
    <p>
      Your order has been successfully placed. Here's your order number:
      #<%= @order.id %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>