



<div class="container" style="max-width: 800px">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h1>About</h1>
    </div>
    <div class="panel-body">
      Welcome to the Jungle™.
      <br>
      <br>
      This is the place where you can buy anything: a chair, a hotdog slicer, the approval of your father. 
      <br>
      <br>
      Founded in 1945 by two Soviet ex-pats searching for meaning in a time of global uncertainty, Jungle sought to make peace in a peaceless world by offering that world a place to spend money frivolously.  
      <br>
      <br>
      But don't take our word for it, try it out for yourself! With only a few clicks, you can flush away your hard-earned cash and help our CEO buy a luxury yacht.
      <br>
      <br>
      Life is a highway,
      <br>
      <br>

      <i>Don Ronky-Hoboken, CEO</i>
      <br>
      <br>
      <img src="/uploads/signature.png" class="img-rounded" alt="CEO Don Ronky-Hoboken signature" style="max-height: 50px; margin-left: 1em">


    </div>
    <div class="panel-footer">© JungleCorp 1946</div>
  </div>

</div>


